/* a reset */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 1.6;
    background: rgb(241, 240, 249);
    background: linear-gradient(
        90deg,
        rgba(231, 216, 220, 1) 0%,
        rgba(217, 233, 236, 1) 0%,
        rgba(241, 240, 249, 1) 0%
    );
}

.landing {
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: gray;*/
}

span.spacer:first-child {
    flex: 1 1 40%;
}

span.spacer:last-child {
    flex: 1 1 60%;
}

.heading {
    padding-top: 60px;
    user-select: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding-bottom: 20px;
}

.footer1 {
    position: absolute;
    bottom: 5px;
}
